* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* shared style start */
.middle-section {
    margin: 50px 120px 100px;
}

.text-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.text-title2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.text-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}


/* shared style end */

/* header style */
header {
    max-height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover, cover;
    border-radius: 16px;
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
    padding: 150px 170px;
}

.new-year {
    font-size: 32px;
    padding-bottom: 15px;
}

.new-year-title {
    font-size: 72px;
    font-weight: 900;

}

/* main section style */
/* discount section */

.discount {
    text-align: center;
    margin: 0 100px 100px;

}

.discount-title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 700;

}

.discount-description {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 5px;
}

.discount-categories {
    margin-bottom: 40px;
}

.discount img {
    max-height: 500px;
}

/* midnight party section */

.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: flex;
    color: #fff;
}

.party-colum {
    padding: 120px 80px 60px;
    align-items: center;

}

.party-title {
    max-width: 600px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.party-description {
    max-width: 600px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 25px 0;
}

.party-colum>.btn {
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.party-colum2 img {
    width: 250px;
    height: 450px;
    padding: 60px 0 40px;
}

/* time and place section */
.time-container {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 300px;
    margin: 100px 0;

}

.place>h5 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.place h5>span {
    color: #F00;
}

.time-container .btn {
    padding: 15px 30px;
    justify-content: center;
    margin: 10px 200px 100px;
    border-radius: 8px;
    color: #fff;
    background: #F00;
    border: none;

}

/* best-offer style */
.best-offer-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.best-offer-subtitle {
    color: #F00;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 500;

}

.best-offer-description {
    max-width: 400px;
    margin: 20px 0;
}

.best-offer-colum .ellipse1 {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

/* holiday sale style */
.holiday-sale-container {
    margin: 100px 0;


}

.holiday-subtitle {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-title {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 900;

}

.holiday-title>span {
    color: #F00;
}

.holiday-description {
    margin: 20px 100px;
    text-align: center;
}

.images-up {
    display: flex;
    position: relative;


}

.images-up .girl {
    margin-left: 700px;
}

.holiday-images-container .images-down {
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    overflow: hidden;

}

.images-up .Box {
    position: absolute;
    top: 0;
    left: 0;

}

.images-up .discount-banner {
    position: absolute;
    top: 100px;
    right: 280px;
}

/* gift-portfolio */

.portfolio-subtitle {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-description {
    max-width: 70%;
    margin: 25px 0;
}

.portfolio-images-row {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    border-radius: 16px;
}

.gift-portfolio-images img {
    max-width: 360px;
    max-height: 400px;
    transition: ease 0.3s;

}

.portfolio-images-row img:hover {
    cursor: pointer;
    border: 1px solid black;
}

/* subscribe and newsletter style*/
.newsletter-container {
    margin: 50px 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    text-align: center;
    padding: 80px;
}

.newsletter-title {
    margin: 20px 0;
}

.newsletter-description {
    margin-bottom: 20px;
}

.input-btn {
    
}

.newsletter-container input[type="email"] {
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding: 15px 30px;
    
    
}
.newsletter-container .btn-email {
    border-radius:0 50px 50px 0; 
    color: #fff;
    background: #F00;
    padding: 15px 30px;
    margin-left: -5px;
}

/* footer style */

